.container {
  margin: 20px auto;
  text-align: center;
  width: 400px;
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
}

#login {
  display: inline-block;
  float: center;
  float: top;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

input {
  margin: 5px;
}

.favorite {
  font-color: black;
}