body {
  width: 90%;
  font-family: 'Miniver', cursive;
  background-image:url("/../images/font.jpg");
  background-size: 100%;
  color: #E93A90;


}

a {
  text-decoration: none;
  color: #E93A90;
}

a:visited {
  color: #E93A90;
}

.container {
  margin: 2% auto;
  text-align: center;
  width: 30%;
  padding: 2%;
  /*border: 1px solid black;*/
  border-radius: 7px;
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
}

input {
  margin: 1%;
}

.favorite {
  font-color: black;
}

.message {
  text-align: center;
}

#tweet {
  width: 100%;
  word-wrap: break-word;
}

@media screen and (max-width: 1000px) {
  body {
    width: 95%;
    font-family: 'Miniver', cursive;
    background-image:url("/../images/font.jpg");
    background-size: 100%;
    color: #E93A90;
  }
  .container {
    margin: 2% auto;
    text-align: center;
    width: 55%;
    padding: 2%;
    /*border: 1px solid black;*/
    border-radius: 7px;
    background-color: white;
    background: rgba(255, 255, 255, 0.6);
  }  

  #id {
    width: 50%;
  }

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    font-family: 'Miniver', cursive;
    background-image:url("/../images/font.jpg");
    background-size: 100%;
    color: #E93A90;
  }
  .container {
    margin: 2% auto;
    text-align: center;
    width: 65%;
    padding: 2%;
    /*border: 1px solid black;*/
    border-radius: 7px;
    background-color: white;
    background: rgba(255, 255, 255, 0.6);
  }
  #id {
    width: 60%;
  }  

@media screen and (max-width: 500px) {
  body {
    width: 100%;
    font-family: 'Miniver', cursive;
    background-image:url("/../images/font.jpg");
    background-size: 100%;
    color: #E93A90;
  }
  .container {
    margin: 2% auto;
    text-align: center;
    width: 90%;
    padding: 2%;
    /*border: 1px solid black;*/
    border-radius: 7px;
    background-color: white;
    background: rgba(255, 255, 255, 0.6);
  }  

  #id {
    width: 80%;
  }
