  <div class="container">
    <h1>Enter your information below:</h1>
  <form action="/create" method="post">
    <br>
    <label class="label" for="name"></label>
    <input type="text" name="user[name]" placeholder="john doe">
    <br>
    <label class="label" for="username"></label>
    <input type="text" name="user[username]" placeholder="username">
    <br>
    <label class="label" for="password"></label>
    <input type="text" name="user[password]" placeholder="password">
    <br>
    <label class="label" for="email"></label>
    <input type="text" name="user[email]" placeholder="email">
    <br>
    <label class="label" for="location"></label>
    <input type="text" name="user[location]" placeholder="location">
    <br>
    <label class="label" for="oneliner"></label>
    <input type="text" name="user[oneliner]" placeholder="something about yourself">
    <br>
    <br>
    <input type="submit" value="Create!">
  </form>
</div>