<div class="container">
  <h1> Your favorite tweets </h1>

  <% @user_favorites.each do |favorite| %>
    <h4><%= favorite.tweet.user.name %> tweets: <%= favorite.tweet.content %>
      <form action="/favorites" method="post">
        <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="tweet_id" value="<%=favorite.tweet_id%>">
      <input type="submit" value="unfavorite">
    </form></h4>
  <% end %>
</div>


