<%# this is really similar to app/views/following.rb %>
<div class="container">
  <%= render :profile_header %>

  <%= render :follower_names, method: :followers %>


  <%# follower_names: %>

  <%# this should really just be @user.followers %>
  <% if @user.send(method).any? %>
    <% @user.send(method).each do |user| %>
      <h5><%= user.username %></h5>
    <% end %>
  <% else %>
    <h5>No one cares about you.</h5>
  <% end %>


  <%####################%>

  <%= render :follower_partial %>
</div>
